<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>456716045072-g35a1fq3l5k3dsrmr8ug0319de2qg17o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456716045072-g35a1fq3l5k3dsrmr8ug0319de2qg17o</string>
	<key>API_KEY</key>
	<string>AIzaSyDwoM4c5xH0wuRXtNcJLkWXSiFpUlYHeHY</string>
	<key>GCM_SENDER_ID</key>
	<string>456716045072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.ku.sci.cs.UserLoginAndRegistration</string>
	<key>PROJECT_ID</key>
	<string>iact-cdb1d</string>
	<key>STORAGE_BUCKET</key>
	<string>iact-cdb1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:456716045072:ios:0a45f5fb9a9a2997</string>
	<key>DATABASE_URL</key>
	<string>https://iact-cdb1d.firebaseio.com</string>
</dict>
</plist>
